body{ margin: 0; padding: 0; font-family: sans-serif; font-size: 16px; }

.grid-container{ margin: 20px auto; /* display:flex;*/ width: 1140px;}

.grid-item {  
	float: left;
	padding: 20px; 
	margin: 10px;
	width: 27%;
	font-size: 30px; 
	position: relative;
	box-shadow: 0px 0px 12px rgb(0 0 0 / 0.4);
	border-radius: 8px;
	height: fit-content;
	}

.grid-item img{
	max-width: 100%; 
	height: auto; 
	margin:0 0 10px 0;
}

.grid-item h4{ margin: 0 0 10px 0; 	position: absolute; right: 35px; top: 30px; color: #FFFFFF;	font-size: 24px; 
	text-shadow: 2px 2px 8px rgb(0 0 0 / 0.9);
	}

.grid-item p{ margin: 0 0 10px 0; line-height: 150%; font-size: 18px; }